<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div class="col-md-12">
      <div class="col-md-4 disinline ">
        <img src="assets/rightside.png"/>
      </div>
      <div class="col-md-3 disinline center">  
        <img width="300" alt="" src="assets/logo.png">
      </div>
      <div class="col-md-4 disinline">
        <img class="logo pull-right" src="assets/techmlogo.png"/>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6 disinline">ProBook</div>
      <div class="col-md-3 disinline">System | Time</div>
      <div class="col-md-2 disinline">SignIn | Sigut</div>
    </div>
    <div class="col-md-12 custm-hr "></div>
</div>
<div class="row cust-padding">

  <div class="col-md-3 disinline">
  <h2>Quick Links </h2>
    <ul>
      <li>
        <a target="_blank" rel="noopener" href="/link1">Link1</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="/link2">Link2</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="/link2">Link2`</a>
      </li>
    </ul>
    </div>
    <div class="col-md-3 disinline">
  <h2>Acquire</h2>
    <ul>
      <li>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Link1</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Link2</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Link2`</a>
      </li>
    </ul>
    </div>
    <div class="col-md-3 disinline">
  <h2>Execute</h2>
    <ul>
      <li>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Link1</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Link2</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Link2`</a>
      </li>
    </ul>
    </div>
    <div class="col-md-3 disinline">
  <h2>Deliver </h2>
    <ul>
      <li>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Link1</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Link2</a>
      </li>
      <li>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Link2`</a>
      </li>
    </ul>
    </div>

</div>

